@font-face {
    font-family: "Tangerine";
    src: url('../font/Tangerine-Regular.ttf');
}

body{
    font-family:'Tangerine', Arial, cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    margin-top: auto;
    background-color: lightgrey;
    width: 100%;
    padding: .5rem 0 .5rem 0;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    color: gray;
}

#header {
    line-height: 2.5rem;
    padding: 2rem 0 3rem 0;
}

#header h1 {
    text-align: center;
    font-size: 4.5rem;
    margin: 0;
}

#header h2 {
    font-size: 2rem;
    margin: 0;
    padding-left: 50%;
}

#play-area {
    min-width: 450px;
    max-width: 875px;
}

#scorebox {
    align-self: stretch;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#how-to {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
}

#how-to h3 {
    margin: 1rem 0 0 0;
    font-size: 1.75rem;
}

#how-to ul {
    font-size: 1.5rem;
    margin: 0;
    list-style: none;
}

